* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Rubik, sans-serif;
}

h1,
h2,
h3 {
  font-family: Karla, sans-serif;
  font-weight: 700;
  margin: 0;
}

p {
  margin: 0;
  font-weight: 400;
}

img {
  max-width: 100%;
}