$black: hsl(0, 0%, 14%);
$white: hsl(0, 0%, 96%);
$accent: #786fa6;
$accent-dark: #453e69;
$accent-secondary: #f3a683;
$accent-tertiary: #f7d794;
$accent-text: $white;

.dark {
  background-color: $black;
  color: $white;
  --background-secondary: hsl(0, 0%, 22%);
}

.light {
  background-color: $white;
  color: $black;
  --background-secondary: hsl(0, 0%, 86%);
}