@use "../globals/themes" as *;
@use "../globals/breakpoints" as *;

.grid {
  grid-area: g;
  background-color: var(--background-secondary);

  display: grid; //columns defined in Grid.tsx
  gap: 1px;
  padding: 2px;
  border-radius: 8px;

  &__tile {
    aspect-ratio: 1;
    border-radius: 3px;

    background-color: var(--background-tile);

    position: relative;

    &--ground {
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 50%;
      background-color: rgb(99, 84, 81);
    }
    &--wall {
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url(../assets/BrickWall.png);
      background-size: 800%;
    }
  }
}
