@use "../globals/themes" as *;
@use "../globals/breakpoints" as *;

.grid {
  grid-area: g;
  background-color: var(--background-secondary);

  display: grid; //columns defined in Grid.tsx
  gap: 2px;
  padding: 2px;
  border-radius: 8px;

  &__tile {
    aspect-ratio: 1;
    border-radius: 3px;

    background-color: var(--background-tile);
  }
}